.text {
	line-height: 1.5;
	color: $mainColor;

	&--small {
		font-size: 1.1666rem;
	}

	&--medium {
		font-size: 1.3333rem;
	}
}

.input {
	height: 35px;
	line-height: 33px;
	border: 1px solid $lightGray;
	border-radius: 3px;
	font-size: 1.1666rem;
	color: $gray;
}

.button {
	@extend %txt-up;
	@extend %bord-rad3;
	@extend %lspace-2;
	@extend %fweight-700;
	display: inline-block;
	outline: none;
	border: none;
	height: 35px;
	line-height: 35px;
	font-family: 'Circe';

	&--green {
		background-color: $green;
		color: #fff;
	}

	&--white {
		background-color: #fff;
		color: $mainColor;
	}
}

.link {
	@extend %txt-up;
	@extend %lspace-2;
	@extend %fweight-700;

	&--underline {
		border-bottom: 1px solid $mainColor;
	}
}

.heading-l2 {
	@extend %fweight-900;
	font-size: 2.1666rem;
	margin-bottom: 30px;
}

.heading-l3 {
	@extend %fweight-700;
	@extend %txt-up;
	@extend %lspace-2;
	font-size: 1rem;
	margin-bottom: 10px;
}
