.text {
	line-height: 1.5;
	color: $mainColor;

	&--small {
		font-size: 1.1666rem;
	}

	&--medium {
		font-size: 1.3333rem;
	}

	&--bold {
		@extend %fweight-700;
	}

	&--footer {
		color: #fff;
	}
}

.text-link {
	color: $yellow;
	text-decoration: underline;
}

.input {
	@extend %main-transit;
	outline: none;
	height: 35px;
	line-height: 33px;
	padding: 0 15px;
	border: 1px solid $lightGray;
	border-radius: 3px;
	font-size: 1.1666rem;
	font-family: 'Circe';
	color: $mainColor;

	&::placeholder {
		@extend %txt-up;
		color: $lightGray;
	}

	&--big {
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
		padding: 10px 10px;
		line-height: 1.5;
		color: $mainColor;
		resize: none;
	}

	&:focus {
		border-color: $mainColor;
	}
}

.checkbox {
	input {
		@include hide;
	}

	.checkbox-icon,
	.checkbox-text {
		@extend %vertical;
	}

	.checkbox-icon {
		@extend %pos-rel;
		@extend %bord-rad50;
		width: 10px;
		height: 10px;
		margin-right: 10px;
		border: 1px solid $mainColor;

		&:after {
			@extend %pos-abs;
			@extend %bord-rad50;
			@extend %main-transit;
			content: '';
			left: 50%;
			top: 50%;
			margin-left: -3px;
			margin-top: -3px;
			width: 6px;
			height: 6px;
			background-color: $mainColor;
			opacity: 0;
			visibility: hidden;
		}
	}

	input:checked + label {
		.checkbox-icon {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.button {
	@extend %txt-up;
	@extend %bord-rad3;
	@extend %lspace-2;
	@extend %fweight-700;
	display: inline-block;
	outline: none;
	border: none;
	height: 35px;
	line-height: 35px;
	font-family: 'Circe';

	&--green {
		background-color: $green;
		color: #fff;
	}

	&--white {
		background-color: #fff;
		color: $mainColor;
	}
}

@mixin link-hover($bgc) {
	&:after {
		@extend %pos-abs;
		@extend %main-transit;
		content: '';
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $bgc;
	}

	&:hover {
		&:after {
			height: 3px;
		}
	}
}

.link {
	@extend %txt-up;
	@extend %lspace-2;
	@extend %fweight-700;

	&--default {

	}

	&--underline {
		@include link-hover($mainColor);
		@extend %pos-rel;
	}
}

.link-wrap {
	@extend %txt-cent;
	width: 100%;
}

.heading-l2 {
	@extend %fweight-900;
	font-size: 2.1666rem;
	margin-bottom: 30px;
}

.heading-l3 {
	@extend %fweight-700;
	@extend %txt-up;
	@extend %lspace-2;
	font-size: 1rem;
	margin-bottom: 10px;
}
