// FOOTER :: START
footer.footer
	.footer__row
		.footer__col
			h3.heading-l3 Кто мы?
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link О нас
				li.footer-nav__el
					a.footer-nav__link Лица
				li.footer-nav__el
					a.footer-nav__link Контакты
				li.footer-nav__el
					a.footer-nav__link Пресса
				li.footer-nav__el
					a.footer-nav__link Кофейни
		.footer__col
			h3.heading-l3 Помощь
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link Контакты
				li.footer-nav__el
					a.footer-nav__link Реквизиты
				li.footer-nav__el
					a.footer-nav__link Полезное
				li.footer-nav__el
					a.footer-nav__link Персональные данные
		.footer__col
			h3.heading-l3 Сервис
			ul.footer-nav
				li.footer-nav__el
					a.footer-nav__link Оплата
				li.footer-nav__el
					a.footer-nav__link Доставка
				li.footer-nav__el
					a.footer-nav__link Условия продажи
				li.footer-nav__el
					a.footer-nav__link Карта сайта
		.footer__join
			h3.heading-l3 Присоединяйтесь
			ul.socials
				li.socials__el
					a.socials__link
						+icon('ico-fb')
				li.socials__el
					a.socials__link
						+icon('ico-vk')
				li.socials__el
					a.socials__link
						+icon('ico-yt')
				li.socials__el
					a.socials__link
						+icon('ico-insta')
			p.text.text--small.text--footer
				span Разработка — #[a.footer-link(href='webfly.pro' target='_blank') webfly.pro]
				span Дизайн — #[a.footer-link(href='' target='_blank') Redo Bureau]
			p.text.text--small.text--footer Интернет-магазин кофе Torrefacto © 2011-2017
// FOOTER :: END
