// index
.product {
	margin-bottom: 50px;

	@include tablet {
		margin-bottom: 25px;
	}
}

.product-row {
	@include row(center, flex-start);
}

.product-image {
	@extend %pos-rel;
	margin-top: 30px;

	@include tablet {
		@include hide;
	}
}

.product-image__package {
	width: 265px;
	height: 400px;

	object-fit: cover;
}

.product-image__beans {
	@extend %pos-abs;
	@extend %bord-rad50;
	bottom: -40px;
	right: -20px;
	width: 110px;
	height: 110px;
	border: 3px solid $lightGray;
	overflow: hidden;

	img {
		@extend %main-transit;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.ico {
		@extend %pos-abs;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.7rem;
	}

	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}

.product-buy {
	max-width: 340px;
	margin-left: 105px;

	@include tablet {
		margin-left: 0;
	}

	@include phone {
		max-width: 290px;
	}
}

.product-buy__name {
	@extend %disp-fl;
	@extend %just-sb;
	margin-bottom: 10px;
}

.product-icons {
	.indicator-wrp {
		margin-top: 6px;
	}
}

.indicator-wrp {
	@extend %pos-rel;
	@extend %vertical;

	span {
		@extend %pos-abs;
		@extend %fweight-700;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $green;
	}
}

.spades {
	@extend %vertical;

	.ico {
		@extend %vertical;
		line-height: 10px;
		margin-right: 10px;
		font-size: 2.4rem;
	}

	span {
		@extend %vertical;
		@extend %txt-up;
		@extend %fweight-700;
		font-size: .8rem;
	}
}

.product-name {
	margin-top: 30px;
	h3 {
		@extend %fweight-900;
		@extend %lspace-2;
		margin-bottom: 10px;
		font-size: 2.166rem;
	}

	p {
		@extend %fweight-700;
		@extend %txt-up;
		@extend %lspace-2;
	}
}

.product-number {
	@extend %disp-fl;

	&--big {
		.ico {
			margin-top: 20px;
			margin-right: 10px;
		}

		span {
			@extend %fweight-900;
			font-size: 4.83rem;
			line-height: 4rem;
		}
	}

	&--small {
		.ico {
			font-size: .5rem;
			margin-top: 3px;
			margin-right: 5px;
		}

		span {
			@extend %fweight-900;
			font-size: 1.5rem;
			line-height: 1rem;
		}
	}
}

.product-heading {
	margin-bottom: 20px;
	.heading-l2 {
		margin-bottom: 10px;
	}
}

.product-rating {
	@extend %disp-fl;
	align-items: center;
	margin-bottom: 10px;
}

.stars {
	@extend %disp-fl;

	&__el {
		color: $lightGray;
		margin-right: 10px;

		&--active {
			color: $yellow;
		}
	}
}

.product-description {
	margin-bottom: 20px;
}

.bitter {
	@extend %disp-fl;
	@extend %align-cent;

	ul {
		@extend %disp-fl;
		margin-left: 65px;
	}

	@include tablet {
		justify-content: space-between;
	}
}

.bitter__el {
	@extend %bord-rad50;
	width: 5px;
	height: 5px;
	border: 1px solid $mainColor;

	&:not(:last-of-type) {
		margin-right: 10px;
	}

	&--active {
		background-color: $mainColor;
	}
}

.product-buy__purchase {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px dashed $lightGray;
}

.purchase-milling {
	@extend %disp-fl;
	@extend %just-sb;
	margin-bottom: 5px;
}

.purchase-type {
	@extend %disp-fl;
	margin-bottom: 15px;

	input {
		@include hide;
	}
}

.purchase-type__el {
	@extend %main-transit;
	flex: 1;
	height: 35px;
	line-height: 33px;
	border: 1px solid $lightGray;
	font-size: 1.1666rem;
	text-align: center;
	color: $gray;

	&:first-of-type,
	&:last-of-type {
		@extend %pos-rel;
		&:after {
			@extend %pos-abs;
			@extend %main-transit;
			top: -1px;
			content: '';
			height: calc(100% + 2px);
			width: 1px;
			background-color: $mainColor;
			opacity: 0;
			visibility: hidden;
		}
	}

	&:first-of-type {
		border-right: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		&:after {
			right: -1px;
		}
	}

	&:last-of-type {
		border-left: none;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		&:after {
			left: -1px;
		}
	}
}

input:checked + .purchase-type__el {
	color: $mainColor;
	border-color: $mainColor;

	&:first-of-type,
	&:last-of-type {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.purchase-weight {
	@extend %disp-fl;
	@extend %just-sb;

	.x-sign {
		align-self: flex-end;
		margin-bottom: 12px;
		font-size: .7rem;
	}
}

.purchase-weight__el {
	input {
		@include hide;
	}

	p {
		margin-bottom: 5px;
	}

	label {
		@extend %disp-blk;
		@extend %main-transit;
		@extend %bord-rad3;
		width: 115px;
		height: 35px;
		line-height: 33px;
		border: 1px solid $lightGray;
		color: $gray;
		text-align: center;
		font-size: 1.1666rem;

		@include phone {
			width: 105px;
		}
	}

	input:checked + label {
		border-color: $mainColor;
		color: $mainColor;
	}
}

.purchase-amount {
	@extend %disp-fl;
	@extend %just-sb;
	width: 75px;
	height: 35px;
	line-height: 36px;
	border-radius: 3px;
	border: 1px solid $mainColor;
	overflow: hidden;
	color: $mainColor;

	@include phone {
		width: auto;
		min-width: 35px;
		text-align: center;
		display: block;
	}

	input {
		@extend %txt-cent;
		display: inline-block;
		border: none;
		max-width: 30px;
	}
}

.purchase-amount__option {
	width: 25px;
	text-align: center;
	font-size: 1.2rem;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: $lightGray;
	}

	@include phone {
		@include hide;
	}
}

.purchase-buttons {
	@extend %txt-cent;
	.button {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 30px;

		.purchase-sum {
			margin-left: 5px;
		}
	}
}
