* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2,
h3,
p,
ul {
	margin: 0;
}

html {
	font-size: 12px;
}

body {
	font-size: 1rem;
	font-family: 'Circe';
	font-weight: 400;
}

.back-row {
	@include row(flex-start);
	@extend %pos-rel;
	margin-top: 35px;
	margin-bottom: 30px;

	.link {
		.ico {
			@extend %vertical;
			margin-right: 10px;
		}
		span {
			@extend %vertical;
		}
	}

	@include tablet {
		display: block;
		margin: 0;
		margin-bottom: 25px;
		padding: 0;
		text-align: center;
		border-bottom: 1px solid $lightGray;

		&:hover {
			background-color: #f8f8f8;
		}

		.link {
			display: block;
			height: 60px;
			line-height: 70px;
			.ico {
				position: absolute;
				left: 15px;
				top: 25px;
				margin-top: 0;
			}

			span {
				border: none;
				&:after {
					display: none;
				}
			}
		}
	}
}

.blank {
  height: 500px;
}

.nav-outer {
  @extend %pos-rel;
	@extend %main-transit;
  margin-bottom: -50px;
  height: 50px;
  border-top: 3px solid $lightGray;
  background-color: #fff;

  @include tablet {
    display: none;
  }
}

.nav {
  @include row(space-between)
}

.is-sticky {
  position: fixed;
	z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
	box-shadow: 0 3px 6px 0 fade-out(#000, .8);
}

.nav__link {
  @extend %pos-rel;
  @extend %disp-blk;
  @extend %txt-up;
  height: 50px;
  line-height: 50px;
  margin-top: -3px;
  letter-spacing: 2px;
  font-size: .8rem;
  cursor: pointer;
  transition: .3s;

  &:before {
    @extend %pos-abs;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: $yellow;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  &:hover {
    color: $yellow;
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.is-current {
  color: $yellow;
  &:before {
    opacity: 1;
    visibility: visible;
  }
}

.about-product {
	@include row(null, flex-start);
	padding-top: 50px;
}

.about-product__main {
	@include col(8, null);

	@include tablet {
		@include col(12);
	}
}

.about-product__side {
	@include col(4, null);
	height: 150px;
	background-color: deepskyblue;

	@include tablet {
		@include hide;
	}
}

.about-product__section {
	padding-top: 35px;
	padding-bottom: 45px;
	outline: none;

	&:not(:last-of-type) {
		border-bottom: 1px dashed $mainColor;
	}

	&:last-of-type {
		padding-bottom: 65px;
	}
}

.about-product__subsection {
	&:not(:last-of-type) {
		margin-bottom: 35px;
	}
}

.tastes {
	@extend %disp-fl;
}

.tastes__el {
	@extend %disp-fl;
	@extend %align-cent;
	@extend %bord-rad3;
	@extend %main-shadow;
	@extend %txt-cent;
	flex-direction: column;
	justify-content: flex-end;
	width: 110px;
	height: 110px;

	&:not(:last-of-type) {
		margin-right: 20px;
	}

	.heading-l3 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.cards {
	@extend %disp-fl;

	.ico-angle {
		margin-left: 30px;
		margin-top: 20px;
		font-size: 1.8rem;
	}
}

.card-group {
	@extend %disp-fl;
	flex-wrap: wrap;
	flex: 1;
	justify-content: flex-end;
	margin-left: auto;
}

.card {
	@extend %disp-fl;
	@extend %bord-rad3;
	@extend %main-transit;
	align-items: center;
	max-width: 260px;
	width: 100%;
	height: 70px;
	padding: 0 20px;
	border: 1px solid $mainColor;

	&:nth-of-type(odd) {
		margin-right: 20px;
	}

	&:nth-of-type(3),
	&:nth-of-type(4) {
		margin-top: 20px;
	}

	&:hover {
		@extend %main-shadow;
		border-color: transparent;

		.ico {
			color: $yellow;
		}
	}

	.heading-l3 {
		line-height: 1.66;
		margin-bottom: 0;
		margin-right: auto;
	}

	.ico {
		@extend %main-transit;
		font-size: 2.3rem;
	}

	.circle {
		margin-right: 0;
	}
}

.posts {
	width: 100%;
}

.posts--inner {
	@extend %pos-rel;
	padding-left: 80px;

	.ico-angle {
		@extend %pos-abs;
		font-size: 1.8rem;
		top: 15px;
		left: 30px;
	}
}

.post {
	@extend %disp-fl;
	flex: 1;
	margin-bottom: 30px;
}

.post__av {
	@extend %bord-rad50;
	@extend %main-shadow;
	width: 60px;
	height: 60px;
	margin-right: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&--default {
		@extend %pos-rel;
		box-shadow: none;

		.ico {
			@extend %pos-abs;
			left: 50%;
			top: 50%;
			font-size: 2.7rem;
			transform: translate(-50%, -50%);
		}
	}
}

.post__comment {
	@extend %bord-rad3;
	@extend %main-shadow;
	flex: 1;
	padding: 26px 30px 35px;
	background-color: #fff;

	&-p {
		&:not(:last-of-type) {
			margin-bottom: 25px;
		}
	}

	.input-group {
		margin-bottom: 20px;
		.input {
			max-width: 260px;
			width: 100%;

			&:not(:last-of-type) {
				margin-right: 15px;
			}
		}
	}

	.link {
		display: inline-block;
		margin-top: 35px;
	}
}

.post__name {
	@extend %disp-fl;
	@extend %just-sb;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px dashed $mainColor;
}

.post__label {
	margin-bottom: 10px;
}

.post-theme {
	margin-left: 10px;
}

.article {
	@extend %bord-rad3;
	@extend %main-shadow;
	padding: 20px;
	background-image: url(../img/map.png);
	color: #fff;

	.button {
		padding: 0 15px;
	}
}

.list__el {
	line-height: 1.7;
}

.list__key,
.list__value {
	@extend %vertical;
	vertical-align: top;
}

.list__key {
	@extend %fweight-700;
	width: 320px;
}

.discussion {
	padding-top: 30px;
	padding-bottom: 65px;
	background-color: $discusGray;
}

.discussion-row {
	@include row(flex-start);
}

.discussion-header {
	margin-bottom: 30px;
}
